<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avoimempi Eduskunta Frontend</title>
    <script type="module" src="./htmx.esm.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#current-composition">Current Composition</a></li>
          <li><a href="#representatives">Representatives</a></li>
          <li><a href="#tab2">Tab 2</a></li>
          <li><a href="#tab3">Tab 3</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="current-composition" class="tab-content">
        <h1>Parliament Composition</h1>
        <form
          id="compositionForm"
          action="/composition"
          method="post"
          hx-post="/composition"
          hx-target="#composition-container"
          hx-swap="innerHTML"
        >
          <label for="dateInput">Select Date:</label>
          <input type="date" id="dateInput" name="date" required />
          <button type="submit">Get Composition</button>
        </form>
        <div id="composition-container"></div>
      </section>

      <section id="representatives" class="tab-content">
        <h1>Representatives</h1>
        <div id="representatives-container">
          <div
            id="load-more"
            hx-get="/representatives?page=1&limit=100"
            hx-trigger="intersect once"
            hx-target="#representatives-container"
            hx-swap="innerHTML"
          ></div>
        </div>
      </section>

      <section id="tab2" class="tab-content">
        <h1>Tab 2 Content</h1>
        <p>This is the content for Tab 2.</p>
      </section>

      <section id="tab3" class="tab-content">
        <h1>Tab 3 Content</h1>
        <p>This is the content for Tab 3.</p>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 Avoimempi Eduskunta</p>
    </footer>

    <script async type="module" src="./app.mts"></script>
  </body>
</html>
