.votings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  flex-direction: column;
}

.votings-search {
  padding: 1ch;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  font-size: 1.5rem;
  width: 80%;
  input {
    width: 100%;
    text-align: center;
    font-size: inherit;
    padding: 4px;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.votings-results {
  font-size: 1rem;
  > div {
    border-top: 1px solid #e1e1e1;
    margin-top: 1ch;
    padding: 3ch 1ch 1ch 1ch;
  }
}

.votings-search-result {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1ch;
  overflow-y: scroll;
  max-height: 800px;
  table {
    box-sizing: border-box;
    td {
      padding: 0.5ch 0.5ch;
    }
  }
}
