.circle {
  transform-box: fill-box;
  position: relative;
  margin: var(--margin);
  display: flex;
  aspect-ratio: 1;
  width: var(--avatar-size);
  height: var(--avatar-size);
  justify-content: center;
  align-items: center;
  font-size: small;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  user-select: none;
  cursor: pointer;
}

.circle:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
