.representatives-page {
  text-align: center;
}

.date-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.date-selector button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.date-selector input {
  margin: 0 10px;
  padding: 5px;
  font-size: 16px;
}

.selected-date {
  margin-top: 20px;
  font-size: 18px;
}

.representatives-layout {
  --avatar-size: 40px;
  display: flex;
  margin: 4px;
  flex-direction: column;
}

.representative-row {
  --margin: 4px;
  --additional-spacing: 40px;
  display: flex;
  margin: var(--margin);
  justify-content: center;
  &[data-row="0"] {
    margin-bottom: var(--additional-spacing) * 10;
  }
  &[data-row="1"] {
    > div:nth-of-type(5),
    > div:nth-of-type(8),
    > div:nth-of-type(11) {
      margin-right: var(--additional-spacing);
    }
  }
  &[data-row="2"] {
    > div:nth-of-type(7),
    > div:nth-of-type(11),
    > div:nth-of-type(15) {
      margin-right: var(--additional-spacing);
    }
  }
  &[data-row="3"] {
    > div:nth-of-type(8),
    > div:nth-of-type(13),
    > div:nth-of-type(18) {
      margin-right: var(--additional-spacing);
    }
  }
  &[data-row="4"] {
    > div:nth-of-type(10),
    > div:nth-of-type(16),
    > div:nth-of-type(22) {
      margin-right: var(--additional-spacing);
    }
  }
  &[data-row="5"] {
    > div:nth-of-type(8),
    > div:nth-of-type(15),
    > div:nth-of-type(22) {
      margin-right: var(--additional-spacing);
    }
  }
  &[data-row="6"] {
    &::before {
      content: "";
      margin: var(--margin);
      display: flex;
      min-width: var(--avatar-size);
      min-height: var(--avatar-size);
      width: var(--avatar-size);
      height: var(--avatar-size);
    }
    > div:nth-of-type(6),
    > div:nth-of-type(14),
    > div:nth-of-type(22) {
      margin-right: var(--additional-spacing);
    }
  }
  &[data-row="7"] {
    > div:nth-of-type(4),
    > div:nth-of-type(13),
    > div:nth-of-type(22) {
      margin-right: var(--additional-spacing);
    }
  }
  &[data-row="8"] {
    > div:nth-of-type(9) {
      margin-right: var(--additional-spacing);
    }
  }
}

.representative-circle {
  transform-box: fill-box;
  position: relative;
  margin: var(--margin);
  display: flex;
  aspect-ratio: 1;
  width: var(--avatar-size);
  height: var(--avatar-size);
  justify-content: center;
  align-items: center;
  font-size: small;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  user-select: none;
}

.representative-circle:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
